h1{
    color: red;
}

button{
    color: red;
    
}


list.li{
    color: red;
}


.test{
    font-size: 10rem;
    color: blueviolet;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}